@import url(/assets/css/variables.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,80);

*{
    /* background-color: var(--color-page); */
    background-color:var(--color-page);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: border-box;
}

.principal{
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;
    border: 1.5px solid #2ae6c3;
    border-radius: 5px;
    box-shadow: 15px 15px 15px 15px #caf8d5;
    margin: 15px 0 15px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.principal ul li {
    align-items: center;
    list-style-type: none;
}

.principal  li ul li {
    text-align: center;
}

#point-coin {
    font-size: 32px;
    padding-top: 32px;
}

/* #imgPoint-coin {
    height: 40px;
    background-color: black;
    padding-top: 32px;
} */

.about-me {
    border: 0.2px solid #6deed6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(109, 108, 108, 0.19);
    font-size: 20px;
    /* display: flex; */
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px; 
}

.about-me-text  {
    /* display: inline; */
    color:#2D544D;
    font-weight: bold;
    line-height: 31px;
    /* border: 0.5px solid rgb(59, 31, 184); */
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 60px;
    margin-bottom: 50px;

    /* left: 250px;
    right: 250px;
    top: 180px; */
}

.cloud1, .cloud2 {
    width: 105px;
    /* border: 5px solid black; */
    float: right;
    position: relative;
}

.cloud1 {
    bottom: 500px;
    right: 40px;
}

.cloud2 {
    bottom: 400px;
}

.about-me-title {
    font-size: 30px;
    color:white;
    font-weight: bold;
    position: relative;
    left: 390px;
    top: 50px;
    border: 5px solid #8BD6B3;
    border-radius: 15px;
    background-color: #8BD6B3;
}

.imgMario {
    width: 100px;
    position: relative;
    float:right;
    bottom: 200px;
    left: 105px;
}

.about-me .photo #photo-me{
    float: right;
    display: block;
    border-radius: 25px;
    float: left;
    bottom: 390px;
    left: 50px;

}

#photo-me {
    height: 300px;
    margin-top: -30px;
    position: relative;
   
}

.skills {
    margin-top: 50px;
    border: 5px solid black; 
}