@import url(/assets/css/variables.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,80);

*{
    background-color:var(--color-page);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
    overflow-x: hidden;
}

.principal{
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;
    border: 1.5px solid #2ae6c3;
    border-radius: 5px;
    /* box-shadow: 0.3 4px 8px 0  #335c3c; */
    box-shadow: 5px 5px 5px 0.9px  #335c3c;
    margin: 15px 0 15px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.principal ul li {
    align-items: center;
    list-style-type: none;
}

.principal  li ul li {
    text-align: center;
}

#point-coin {
    font-size: 32px;
    padding-top: 32px;
    width: 15%;
}

#point-coin #imgPoint-coin {
    justify-content: center;
    /* border: 15px solid white; */
}

#imgPoint-coin {
    width: 24%;
    /* border: 15px solid #FFFFFF; */
    
}

/* #imgPoint-coin {
    height: 40px;
    background-color: black;
    padding-top: 32px;
} */

.about-me {
    border: 0.2px solid #6deed6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: 20px;
    /* display: flex; */
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px; 
}

.about-me-text  {
    /* display: inline; */
    color:#006e5c;
    font-weight: bold;
    line-height: 31px;
    /* border: 0.5px solid rgb(59, 31, 184); */
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 60px;
    margin-bottom: 50px;

    /* left: 250px;
    right: 250px;
    top: 180px; */
}

.cloud1, .cloud2 {
    width: 105px;
    /* border: 5px solid black; */
    float: right;
    position: relative;
}

.cloud1 {
    bottom: 500px;
    right: 40px;
}

.cloud2 {
    bottom: 400px;
}


.about-me-title {
    font-size: 30px;
    color:white;
    font-weight: bold;
    position: relative;
    left: 390px;
    top: 50px;
    border: 5px solid #8BD6B3;
    border-radius: 15px;
    background-color: #8BD6B3;
}

.imgMario {
    width: 100px;
    position: relative;
    float:right;
    bottom: 200px;
    left: 105px;
}

.about-me .photo #photo-me{
    float: right;
    display: block;
    border-radius: 25px;
    float: left;
    bottom: 390px;
    left: 50px;

}

#photo-me {
    height: 300px;
    margin-top: -30px;
    position: relative;
   
}

.about-me:hover{
    box-shadow:
        1px 1px #53a7ea,
        2px 2px #53a7ea,
        3px 3px #53a7ea;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
} 

.skills  {
    border: 0.2px solid #6deed6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: 20px;
    /* display: flex; */
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px; 
}

#skills-title {
    font-size: 30px;
    color:white;
    font-weight: bold;
    position: relative;
    font-size: 30px;
    font-weight: bold;
    left: 180px;
    top: 50px;
    border: 5px solid #8BD6B3;
    border-radius: 15px;
    background-color: #8BD6B3;
}



.skills .hard-skills {
    align-items: center;
    justify-content: center;
    margin: 100px;
    /* border: 15px solid red;  */
}

.hard-skills {
    /* border: 5px solid #4d6609; */
    display: flex;
    gap: 20px;
    padding: 30px;
    
}

#skills-html, #skills-css, #skills-js, #skills-java, #skills-oracle{
    box-shadow: 0 4px 8px 0  #0ceec4;
    font-weight: bold;
    color:#2D544D;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
    border-radius: 25px;
} 

#skills-html:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

#skills-css:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

#skills-js:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

#skills-java:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

#skills-oracle:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

#skills-html ul  {
    list-style-type: none;
}
#skills-css ul  {
    list-style-type: none;
}
#skills-js ul  {
    list-style-type: none;
}
#skills-java ul  {
    list-style-type: none;
}
#skills-oracle ul  {
    list-style-type: none;
}

.block-hard {
    display: flex;
    justify-content: center;

}

.block-hard {
    display: flex;
    justify-content: center;
}

#img-html, #img-css, #img-java, #img-js, #img-java, #img-oracle {
    width: 100px;
}

/* .soft-skills {
    border: 15px solid rgb(153, 0, 0);
    display: flex;
    gap: 20px;
    padding: 30px;
    text-align: center;
    justify-content: center;
    
} */

.cloud img {
    width: 80px;
}

#skills-title2 {
    border: 5px solid #8BD6B3;
    border-radius: 15px;
    background-color: #8BD6B3;
    font-size: 30px;
    color:white;
    font-weight: bold;
    position: relative;
    font-size: 30px;
    font-weight: bold;
    left: 416px;
}


#comunication img {
    width: 50%;
    padding-top: 5px;
}

#curiosity img {
    width: 60%;
}

#criativity img {
    width: 60%;
}

#teamwork img {
    width: 70%;

}

.soft-skills {
    display: flex;
    gap: 20px;
    padding: 30px;
    margin-left: 240px;
} 


#curiosity,#comunication, #teamwork,#criativity {
    /* border-radius: 25px;
    margin-bottom: 9px; */
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    /* margin-right: 10px ; */
    margin-left: 50px;
    flex: 0 1 0px;
    box-shadow: 0 4px 8px 0  #0ceec4;
    font-weight: bold;
    color:#006e5c;
    font-size: 18px;
}

#criativity:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

#teamwork:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

#comunication:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

#curiosity:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}


#criativity li {
    list-style-type: none;
}

#teamwork li  {
    list-style-type: none;
}

#comunication li {
    list-style-type: none;
}

#curiosity li  {
    list-style-type: none;
}

.soft-cloud {
    top:900px;
    left: 100px;
    position: absolute;
}

.cloud img {
    width: 10.1%;
}

.blocks ul li  {
    list-style-type: none;
}

.blocks {
    width: 10%;
    display: flex;
    justify-content:center;
    margin-bottom: 40px;    
    margin-left: 1160px;
}

.blocks img {
    width: 70%; 
}

.contact {
    border: 0.2px solid #6deed6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: 20px;
    margin-top: 80px;
    margin-right: 20px; 
    display: flex;
    gap: 20px;
    padding: 30px;
    margin-left: 20px;
}

.contact-phone li  {
    list-style-type: none;
}

.contact-email li  {
    list-style-type: none;
}

.localization li  {
    list-style-type: none;
}

.contact-phone li  {
    list-style-type: none;
}

.network li {
    list-style-type: none;
}

.contact-data {
    box-shadow: 0 4px 8px 0  #0ceec4;
    display: block;
    margin-left: 20px;
}

.contact-phone,.contact-email, .localization, .network {
    /* border: 15px solid red; */
    align-items: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: bold;
    color:#006e5c;
    font-size: 18px;
    padding:  20px 20px 30px 20px;
}

.contact-phone:hover {
    -webkit-transform: scale(1.5);
    transform: scale(0.9);
}

.contact-email:hover {
    -webkit-transform: scale(1.5);
    transform: scale(0.9);
}

.localization:hover {
    -webkit-transform: scale(1.5);
    transform: scale(0.9);
}

#github:hover {
    -webkit-transform: scale(1.5);
    transform: scale(0.9);
    cursor: pointer;
}

#linkedin:hover {
    -webkit-transform: scale(1.5);
    transform: scale(0.9);
    cursor: pointer;
}

.contact-block-ices1  {
    /* border: 15px solid pink; */
    width: 5%;
    height: 2%;
    margin-top: 350px;
    margin-left: 340px;
}

.block-ice1, .block-ice2 {
    display: flex;
    width: 18%;
}

.contact-block-ices2 {
    width: 5%;
    height: 1%;
    /* border: 15px solid #0ceec4; */
    margin-top: 280px;
    padding-left: 70px;
}

.block-coins-contact {
    /* border: 15px solid #0ceec4; */
    margin-left: 120px;
    margin-top: 35px;

}

.block-coins-contact ul img {
    width: 40px;
}

.block-coins-contact .coins1:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}

.block-coins-contact .coins2:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}

.block-int1, .block-int2, .coins1, .coins2 {
    /* border: 15px solid rgb(187, 24, 24); */
    display: flex;
    padding: 15px 20px 0 20px ;
}
.contact img {
    width: 65px;
}

.contact:hover {
    box-shadow:
        1px 1px #53a7ea,
        2px 2px #53a7ea,
        3px 3px #53a7ea;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
} 
footer h1 {
    background-color: #000000;
    text-align: center;
    color: aliceblue;
    margin-top: 50px;
    padding: 105px;

    border-radius: 2.5px;
}
